<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout-admin.html}">

<body>

	<!--Thêm dòng này vào-->
	<section layout:fragment="content">

		<!--Viết nội dung từ đây-->
		<div class="row" style="padding: 20px; padding-top: 10px;">
			<div class="col">
				<div class="container-fluid">
					<h1 style="font-size: 27px; padding-left: 10px;">Thêm đơn hàng
						mới</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/admin/parcels}"
							style="text-decoration: none">Quản lý đơn hàng</a></li>
						<li class="breadcrumb-item active"><a
							th:href="@{/admin/parcels/addParcel}"
							style="text-decoration: none; color: black;">Thêm đơn hàng
								mới</a></li>
					</ol>
					<form th:action="@{/admin/parcels/saveParcel}" method="POST">
						<div class="card">
							<div class="card-header">
								<i class="icon-plus menu-icon"></i>
								<h2 class="d-inline" style="font-size: 20px;">Add New
									Parcel</h2>
							</div>
							<div class="card-body"
							>
								<div class="mb-3">
									<label for="parcelId" class="form-label">Parcel ID:</label>
									<input type="hidden" name="recipientId" th:value="${recipientId}" />
									<input type="text" readonly="readonly" class="form-control"
										th:value="${parcel.parcelId}" id="parcelId" th:name="parcelId"
										aria-describedby="parcelIdid" style="background:#ebebeb;">
								</div>
								
								<div class="mb-3">
									<label for="ladingCode" class="form-label">Lading Code:</label>
									<input type="text" readonly="readonly" class="form-control"
										th:value="${parcel.ladingCode}" id="ladingCode" th:name="ladingCode"
										aria-describedby="ladingCode" style="background:#ebebeb;">
								</div>

								<div class="mb-3">
									<label for="paymentId">Payment Method:</label>
									<select class="btn btn-secondary form-control"
										name="paymentId" id="paymentId"
										style="line-height: 35px; padding: 10px 10px; text-align: center;">
										<option th:each="item : ${listPayments}"
											th:value="${item.paymentId}" th:text="${item.name}">
										</option>
									</select>
								</div>
								
								<div class="mb-3">
									<label for="startOfficeId">Start Office:</label>
									<select class="btn btn-secondary form-control"
										name="startOfficeId" id="startOfficeId"
										style="line-height: 35px; padding: 10px 10px; text-align: center;">
										<option th:each="item : ${listOffice}"
											th:value="${item.officeId}" th:text="${item.address}">
										</option>
									</select>
								</div>
								
								<div class="mb-3">
									<label for="desOfficeId">Destination Office:</label>
									<select class="btn btn-secondary form-control"
										name="desOfficeId" id="desOfficeId"
										style="line-height: 35px; padding: 10px 10px; text-align: center;">
										<option th:each="item : ${listOffice}"
											th:value="${item.officeId}" th:text="${item.address}">
										</option>
									</select>
								</div>
								
								<div class="mb-3">
									<label for="weight" class="form-label">Parcel Weight:</label> <input
										type="text" class="form-control" th:value="${parcel.weight}"
										id="weight" th:name="weight">
								</div>
								
								<div class="mb-3">
									<label for="note" class="form-label">Parcel Note:</label> <input
										type="text" class="form-control" th:value="${parcel.weight}"
										id="note" th:name="note">
								</div>
								
								<div class="mb-3">
									<label for="shippingTypeId">Shipping Type:</label>
									<select class="btn btn-secondary form-control"
										name="shippingTypeId" id="shippingTypeId"
										style="line-height: 35px; padding: 10px 10px; text-align: center;">
										<option th:each="item : ${listShippingType}"
											th:value="${item.shippingTypeId}" th:text="${item.name}">
										</option>
									</select>
								</div>

							</div>
						</div>
						<br>
						<div class="card-footer text-muted" style="float: right;">
							<button class="btn btn-primary" type="submit">
								<i class="fa fa-save"></i> <span
									th:text="Save"></span>
							</button>
							<a th:href="@{/admin/parcels}" class="btn btn-success"><i
								class="fa fa-bars"></i> Danh sách đơn hàng</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

</body>

</html>